# Android
*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aab

# Firebase（秘密情報）
google-services.json

# Keystore（絶対に上げちゃダメ）
*.jks
*.keystore
keystore.properties
